<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2013 The CyanogenMod Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="com.cyanogenmod.setupwizard1"
   
    android:versionCode="3" >

    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_THEME_MANAGER" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="cyanogenmod.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="cyanogenmod.permission.FINISH_SETUP" />
    <uses-permission android:name="cyanogenmod.permission.LEGALESE" />
    <uses-permission android:name="com.cyngn.stats.SEND_ANALYTICS" />
    <uses-permission android:name="com.cyanogen.permission.REQUEST_KILL_SWITCH_OP" />
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />

    <!--
         <permission
        android:name="cyanogenmod.permission.PROTECTED_APP"
        android:protectionLevel="signatureOrSystem" />
    -->


    <!--
         <permission
        android:name="cyanogenmod.permission.FINISH_SETUP"
        android:protectionLevel="signatureOrSystem"
        androidprv:allowViaWhitelist="true" />
    -->

    <!-- <protected-broadcast
        android:name="com.cyanogenmod.setupwizard1.SETUP_FINISHED"
        android:permission="cyanogenmod.permission.FINISH_SETUP" /> -->

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="com.cyanogenmod.setupwizard1.SetupWizardApp" >
        <activity android:name="com.cyanogenmod.setupwizard1.ui.aaaa" >
        </activity>
        
        <activity android:name="com.cyanogenmod.setupwizard1.ui.SetupWizardActivity1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.cyanogenmod.setupwizard1.setup.FinishSetupReceiverr"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.cyanogenmod.setupwizard1.ACTION_FINISH_SETUPWIZARD" />
            </intent-filter>
        </receiver>
    </application>

</manifest>